/* 布局 */
.g-header {
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	background-color: #010101;
}

.g-banner {
	height: 160px;
	background-image: url('../img/cart-header-bg.jpg');
}

.g-settlement {
	width: 1100px;
	margin: -148px auto 0;
}

.g-settlement .title {
	font-size: 30px;
	line-height: 86px;
}

.g-footer {
	height: 96px;
	background-color: #010101;
	border-top: 1px solid #e1e1e1;
}

/* 模块 */
.m-nav a {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.m-nav-hd a {
	font-size: 14px;
	color: #fff;
	padding: 0 26px;
}
.hd-link:hover a{
	background-color:#010101;
}
.m-nav-hd a:hover{
	background:#363c41;
}
.m-nav-hd .logo {
	width: 128px;
	height: 40px;
	margin: 0 26px;
	padding: 0;
}
.m-nav-hd .logo:hover{
	background-color: #010101;
}
.m-nav-hd .path{
	background:#363c41;
}

.m-nav-hd .icn-new {
	position: absolute;
	top: 10px;
	width: 16px;
	height: 16px;
	background: url("../img/icon-new.png") no-repeat;
}

.m-nav-ft {
	width: 1140px;
	margin: 0 auto;
}

.m-cart {
	width: 1100px;
	color: #757575;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	box-shadow: 0 0 5px 5px #ebebeb;
}

/* 元件 */
.u-sch {
	display: inline-block;
	width: 265px;
	height: 36px;
	vertical-align: middle;
	border-bottom: 1px solid #666;
}

.u-sch .sgt-sch {
	float: left;
	width: 72px;
	height: 30px;
	padding:0;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	color: #999;
	background: #363c41;
}

.u-sch .icn-sch {
	float: right;
	margin: 6px 28px 0 0;
	width: 18px;
	height: 18px;
	cursor:pointer;
	background: url("../img/icon-1-sprite_w22.png") -3px -2px no-repeat;
}

.u-logined {
	display: inline-block;
	width: 234px;
	height: 36px;
	line-height: 36px;
}
.u-logined a{
	font-size:0;
}
.u-logined i{
	display:inline-block;
	width:100%;
	height:100%;
}
.u-logined .icn-cart {
	width: 18px;
	height: 18px;
	padding: 9px;
	margin: 0 18px 0 32px;
}
.u-logined .icn-cart i{
	background: url("../img/shopcar.png") 0 -214px no-repeat content-box;
}
.u-logined .icn-msg {
	width: 20px;
	height: 20px;
	padding: 8px;
	margin: 0 18px;
}
.u-logined .icn-msg i{
	background: url("../img/icon-1-sprite_w22.png") -1px -46px no-repeat content-box;
}
.u-logined .icn-ava {
	width: 36px;
	height: 36px;
	padding: 0;
	margin: 0 20px;
}
.u-logined .icn-ava i{
	border-radius: 50%;
	background: url("../img/ava.jpg") 0/cover no-repeat content-box;
}

.u-goods-attr {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	background: #ebebeb;
}

/* line-height对input无效？ */
.u-goods-attr .sel-all-ipt {
	top: 24px;
	left: 20px;
}

.u-goods-attr .sel-all {
	left: 42px;
}

.u-goods-attr .attr-name {
	left: 102px;
}

.u-goods-attr .attr-total {
	left: 455px;
	width: 80px;
}

.u-goods-attr .attr-price {
	left: 585px;
	width: 80px;
}

.u-goods-attr .attr-count {
	left: 720px;
	width: 96px;
}

.u-goods-attr .attr-del {
	left: 996px;
}

.u-goods-item {
	height: 120px;
	border-bottom: 1px solid #dbdbdb;
}

.u-goods-item .sel-ipt {
	top: 45px;
	left: 20px;
}

.u-goods-item .item-img {
	left: 52px;
	width: 160px;
	height: 90px;
	margin: 15px 10px;
}

.u-goods-item .item-name {
	left: 230px;
	margin-top: 20px;
	font-size: 20px;
}

.u-goods-item .item-total {
	left: 455px;
	margin-top: 32px;
	width: 80px;
	font-family: "Microsoft YaHei";
}

.u-goods-item .item-price {
	left: 585px;
	margin-top: 32px;
	width: 80px;
	font-family: "Microsoft YaHei";
}

.u-goods-item .item-count {
	left: 720px;
	margin-top: 32px;
	width: 96px;
}

.u-goods-item .count-subtract,
.u-goods-item .count-add {
	width: 10px;
	height: 10px;
	line-height: 10px;
	font-size: 8px;
	color: #696969;
	background: #fff;
	border: 1px solid #d2d2d2;
	cursor: pointer;
}

.u-goods-item .count-value {
	width: 58px;
	height: 22px;
	font-family: "Microsof YaHei";
	border: 1px solid #dbdbdb;
}

.u-goods-item .item-del {
	left: 996px;
	font-family: SimHei;
	margin-top: 32px;
	cursor: pointer;
}

.u-pay {
	width: 1100px;
	height: 50px;
	line-height: 50px;
	font-size: 0;
	border: 1px solid #dbdbdb;
	margin: 20px auto 38px;
}

.u-pay .pay-due {
	font-size: 12px;
}

.u-pay .pay-money {
	font-size: 16px;
	font-weight: bold;
	color: #cb1e31;
	margin-right: 140px;
}

.u-pay .pay-settle {
	top: -1px;
	right: 0;
	width: 120px;
	height: 52px;
	font-size: 18px;
	color: #fff;
	background: #f11505;
	border: 1px solid #99312e;
}

.u-link{
	margin:23px 0;
}
.u-link a {
	display: inline-block;
	font-size: 12px;
	padding:7px 15px;
	line-height:12px;
	color:#959aa0;
}
.u-link a:hover{
	color:#fff;
}

.u-sns{
	margin:32px 0;
}
.u-sns a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin:0 6px;
	opacity:1;
	background: url("../img/footer-sprite.png") no-repeat;
}
.u-sns a:hover{
	opacity:.8;
}
.u-sns .weixin{
	background-position: 0 -279px;
}
.u-sns .weixin i{
	display:none;
}
.u-sns .weixin:hover i{
	display:block;
	position:absolute;
	bottom:40px;
	left:-66px;
	width:160px;
	height:210px;
	background:url("../img/footer-sprite.png") -3px -2px no-repeat;
}

.u-sns .weibo{
	background-position: 0 -321px;
}

.u-sns .qq{
	background-position: 0 -363px;
}

.u-cprt {
	font-size: 10px;
	padding:7px 0 7px 15px;
	line-height:10px;
	color: #565656;
}

/* 功能 */
.f-fl {
	float: left;
}

.f-fr {
	float: right;
}

.f-pr {
	position: relative;
}

.f-pa {
	position: absolute;
}

.f-tac {
	text-align: center;
}

.f-fs0 {
	font-size: 0;
}