html, body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, li, input, button {font-family: SimSun;margin: 0;padding: 0;}
header, nav, section, footer {display: block;}
i {font-style: normal;}
li {list-style: none;}
a, a:hover {text-decoration: none;color: #757575;}